#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DQT_VERSION_MAJOR=5

override_dh_auto_build:
	dh_auto_build -- -O$(shell nproc)

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/qvirt-manager
